
.card {
  box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.26);
}
.card-header {
  box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.26);
}
.image {
  opacity: 1;
  display: block;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;

}

.imgtext {
  position: absolute;
  background-color: #c4faf8;
  color: black;
  font-size: 14px;
  padding: 8px 3px;
  margin: 5px;
}

.imgtext1 {
  background-color: #c4faf8;
  color: black;
  font-size: 14px;
  padding: 8px 3px;
  margin: 5px;
}
a {
  color:inherit;
  text-decoration: none;
 }
 .img-container {
  position: relative;
}
.img{
  height: 100%
}
.img-title{
  position: absolute;
  color: #fff;
  text-align: center;
  left: 0;
  right: 0;
  top: 8%;
  letter-spacing: 3px;
}
.img-button{
  position: absolute;
  color: #fff;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 5%;
  letter-spacing: 3px;
}
