<div style="background-color: lightgray;">
  <div class="container">
    <div class="row">
      <h2 class="text-center mx-auto py-5">I'm a programmer working in C#, PHP and Angular</h2>
    </div>

  </div>
</div>
<div class="container my-5">
    <div class="">
        <div class="card">
            <div class = "card-header text-center"style="background-color:  #aec6cf;">
                <h3>Projects</h3>
            </div>
            <div class="card-body">
              <div class="row justify-content-center">
                <p><b>Please select a project below to learn more about it.</b></p>
              </div>
              <hr>
              <div  class="row h-100 justify-content-center" >
                <div class="clearfix" ng-if="$index % 3==0"></div>
                  <div *ngFor="let card of cardsList" class="col-lg-5 py-2 d-flex align-items-stretch">

                      <div class ="card">
                        <a class="card-block stretched-link text-decoration-none" (click)="open(card)"> <!-- href="{{card.url}}"-->
                        <div class="card-header text-center">
                          <p class="card-title"><b> {{card.title}}</b></p>
                        </div>
                        <div>
                          <div class="imagecontainer">
                            <img src="{{card.imgsource}}" alt="{{card.title}}" class="image img-thumbnail">
                            <div class="middle">
                              <div *ngFor ="let text of card.imgtext" class="float-left">
                                <div class="imgtext">{{text.desc}}</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>

                  </div>
              </div>
            </div>
            <div class="card-footer text-muted text-center">
                All rights reserved Nicolaj Kold Zefting
            </div>
        </div>
    </div>
</div>
