<!---->
<div class = "container my-5">
    <div class ="container my-5">
        <div class = "row">
      <div class="col">
        <div class ="container">
          <div class ="card">
            <div class="card-header text-center">
           
               <p class="card-title"><b> ERP project - Angular, Bootstrap and C#</b></p> 
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <div class ="card-text">This project was designed to serve a dual purpose: 
                    <br>
                    <ol>
                      <li>Setting distinations, picking a boat, a cox (if the boat requires it) and rowers in a dynamic way</li>
                      <li>Memberservice module where both infomations on the members can be viewed and edited, and steps in the rowers education in the club can be tracked</li>
                    </ol>
                  </div>
                </li>
                <li class="list-group-item">
                  The project considst of a front-end powered by Angular 9, Bootstrap 4 and Ng-Bootstrap and a back-end in Dotnet Core and MySql
                </li>
                <li class="list-group-item text-center">
                  Bitbucket for the project's front-end  <a href="https://bitbucket.org/zefting/erp/src/master/front/ASR-front/">Front-end</a><br>
                  Bitbucket for the project's back-end  <a href="https://bitbucket.org/zefting/erp/src/master/ERP/">Back-end </a><br>
                  A live view of the project can be found here <br>
                  <button type="button"  class="btn btn-primary">ERP project</button>
                </li>
              </ul>
            </div>
            <div class="card-footer text-muted text-center">
              All rights reserved Nicolaj Kold Zefting
            </div>
          </div>
        </div>
         <!--closing col-->
      </div>
  
      <div class = "col">
        <div class ="container">
          <div class ="card">
            <div class="card-header text-center">
               <p class="card-title"><b>  ERP project - Angular, Bootstrap and PHP</b></p> 
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <div class ="card-text">This project was designed to serve as a slim version of the <i>ERP project - Angular, Bootstrap and C#</i> project. <br> 
                    The project features a Memberservice module where both infomations on the members can be viewed and edited, and steps in the rowers education in the club can be tracked
                    
                  </div>
                </li>
                <li class="list-group-item">The project considst on a front-end powered by Angular 9, Bootstrap 4 and Ng-Bootstrap and a back-end in the lightweight micro-framwork
                    Lumen and MySql</li>
                  <li class="list-group-item text-center">
                    Bitbucket for the project's front-end  <a href="https://bitbucket.org/zefting/erp/src/master/lumen/lumenfront/">Front-end</a><br>
                    Bitbucket for the project's back-end  <a href="https://bitbucket.org/zefting/erp/src/master/ERPLumen/">Back-end </a><br>
                    A live view of the project can be found here <br>
                    <button type="button"  class="btn btn-primary">ERP project</button>
                </li>
              </ul>
            </div>
            <div class="card-footer text-muted text-center">
              All rights reserved Nicolaj Kold Zefting
            </div>
          </div>
        </div>
        <!--closing col-->
      </div>
      
    </div>
    <!--closing first row-->
    </div>
  
   <!--sec row--> 
    <div class ="container">
      <div class ="row">
        <div class = "col">
          <div class ="container">
            <div class ="card">
              <div class="card-header text-center">
                 <p class="card-title"><b>  Underwater camera project in Python running on a Raspberry Pi</b></p> 
              </div>
              <div class="card-body">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <div class ="card-text"> This project is an underwater camera to monitor the migration of spawning Sea trouts in a steam. 
                    </div>
                  </li>
                  <li class="list-group-item">The project runs on a Raspberry Pi with camera equipped a motorized night-vison lense. The project utilizes verious Python libraries
                    to control the camera and log the frases of the moon, tide and relative position of the sun when the picture is taken
                  </li>
                  <li class="list-group-item text-center">
                    Bitbucket for the camera-project  <a href="https://bitbucket.org/zefting/erp/src/master/fishcam/" class="card-link"><br> Camera</a><br>
                      
                  </li>
                </ul>
              </div>
            </div>
            <div class="card-footer text-muted text-center">
              All rights reserved Nicolaj Kold Zefting
            </div>
          </div>
          <!--closing col-->
        </div>
  
  
        <div class = "col">
          <div class ="container">
            <div class ="card">
              <div class="card-header text-center">
                 <p class="card-title"><b>  Aarhus Studenter Roklub</b></p> 
              </div>
              <div class="card-body">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <div class ="card-text">
                      This website is developed and maintained in collaboration with others. The site serves a the main communication platform for the clubs members. <br> Supporting this communication flow is a newsletter.
                    </div>
                  </li>
    
                    <li class="list-group-item text-center">
                      The project is deployed and live here <br>
                        <a class="card-link" href="https://www.asr.dk">ASR.DK</a>
                  </li>
                </ul>
              </div>
              <div class="card-footer text-muted text-center">
                All rights reserved Nicolaj Kold Zefting
              </div>
            </div>
          </div>
          <!--closing col-->
        </div>
        <!--closing sec row-->
      </div>
  
    </div>
    
    
    
    
  </div>
  
