<div class="card">
  <div class = "card-header text-center" style="background-color: #ffaf7a;">
      <h6>Projects</h6>
  </div>
  <div class="card-body" style="background-color: #c4faf8;">
      <div  class="row h-100 justify-content-center" >
          <div class="clearfix" ng-if="$index % 3==0"></div>
          <div *ngFor="let card of cards" class="col-lg-5 py-2 d-flex align-items-stretch">
              <div class ="card">
                  <div class="card-header text-center">
                     <p class="card-title"><b> {{card.title}}</b></p>
                  </div>
              <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                      <div class ="card-text">{{card.description1}}
                          <br>
                          <ol ng-if="card.list.length > 0">
                              <li *ngFor="let li of (card.list || [])">
                                  {{li.listDescription}}
                              </li>
                          </ol>
                      </div>
                  </li>
                  <li *ngIf="card.description2" class="list-group-item">
                      {{card.description2}}
                  </li>
                  <li class="list-group-item text-center">
                      <div *ngFor="let bit of (card.Bitbucket || [])">
                          {{bit.bitbucketDescription}}  <a href="{{bit.link}}">here</a> <br>
                      </div>
                      <div *ngIf="card.liveViewLink">
                          <a href="{{card.liveViewLink}}"  class="btn btn-primary">Live view of the project</a>
                      </div>
                  </li>
              </ul>
          </div>
          </div>
      </div>
  </div>
  <div class="card-footer text-muted text-center">
      All rights reserved Nicolaj Kold Zefting
    </div>
</div>
