<div class="modal-header">

  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container">
    <div class="row">
      <div class ="card w-100">
        <div class="card-header text-center">
           <p class="card-title"><b> {{cardinfo.title}}</b></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class ="card-text">{{cardinfo.description1}}
                <br>
                <ol ng-if="card.list.length > 0">
                    <li *ngFor="let li of (cardinfo.list || [])">
                        {{li.listDescription}}
                    </li>
                </ol>
            </div>
          </li>
          <li *ngIf="cardinfo.description2" class="list-group-item">
            {{cardinfo.description2}}
          </li>
          <div class="py-4" ng-if="card.list2.length > 0">
              <div *ngFor="let li2 of (cardinfo.list2 || [])">
                <div [innerHTML]="li2.listopen"></div>
              <img src="{{li2.img2}}" alt="" class="img-fluid">
              <div class="py-4" [innerHTML]="li2.list2Description"></div>
              <hr>
              </div>
          </div>
          <li class="list-group-item" ng-if="card.htmlcode.length > 0">
            <div *ngFor="let html of (cardinfo.htmlcode || [])">
              <li class="list-group-item" *ngIf="html.htmlDescription1">{{html.htmlDescription1}}</li>
              <pre><code [highlight]="html.code"></code></pre>
            <li *ngIf="html.htmlDescription2" class="list-group-item">{{html.htmlDescription2}}</li>
            <hr>
            </div>
          </li>

          <li class="list-group-item text-center">
            <div *ngFor="let bit of (cardinfo.Bitbucket || [])">
                {{bit.bitbucketDescription}}  <a href="{{bit.link}}">here</a> <br>
            </div>
            <div *ngIf="cardinfo.liveViewLink">
                <a href="{{cardinfo.liveViewLink}}"  class="btn btn-primary">Live view of the project</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>



</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
